<div id="layout" class="pure-g">
  <div class="content pure-u-1 pure-u-md-2-4">
    <div class="posts" id="samples">
      <h1 class="content-subhead">Samples</h1>
      <section class="post">
        <header class="post-header">
          <h2 class="post-title">
            <span>Live</span> Samples</h2>
        </header>
        <div class="post-description">
          <h2>With
            <span>Single Column</span>
          </h2>
          <app-vertical-list [items]="items"></app-vertical-list>

          <h2>With
            <span>Multiple Columns</span>
          </h2>
          <app-multi-col-list [items]="items"></app-multi-col-list>

          <h2>With
            <span>Table</span>
          </h2>
          <app-table-list [items]="items"></app-table-list>

          <h2>Loading in
            <span>Chunks</span>
          </h2>
          <app-list-with-api [items]="items"> </app-list-with-api>
          <p>
            <strong>change</strong> event is fired every time start or end index change. You could use this to load more items at
            the end of the scroll. See below.
          </p>
          <pre><code class="javascript">{{codeListWithApi}}</code></pre>
        </div>
      </section>
    </div>
  </div>
</div>
